.icon-circle {
    font-size: 18px; 
    color: rgb(187, 36, 36);
    padding: 8px; 
    border-radius: 50%; 
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  
  .icon-circle:hover {
    background-color: rgba(206, 23, 10, 0.1); 
    color: rgb(40, 19, 19); 
  }
  